* {
    box-sizing: border-box;
}

body {
    background-attachment:fixed;
    background-color: rgba(95,97,96,1);
    margin: auto;
}

nav {
    background-color: rgba(184,179,255,1);
    grid-area: 1/2/2/4;
    top:0;
    height: 75px;
    width: 990px;
}

nav a {
    text-decoration: none;
    padding: 1rem 0rem 1rem;
    display: block;
    text-align: center;
}

nav ul {
    margin:0px;
    padding:0px;
    display:flex;
    list-style-type:none;
    flex-flow:row nowrap;
    font-family: 'Anonymous Pro', sans-serif
}

nav ul li {
    width:15%;
}

h1 {
    background-color: rgba(9,1,40,1);
    color: rgba(254,32,213,1);
    font-family: 'Lexend Exa', sans-serif;
    grid-row: 1/2;
    grid-column: 2/4;
    float: left;
    text-decoration: none;
}

main {
    padding-left:2rem;
    padding-right:2rem;
    grid-row: 4/5;
    grid-column: 2/4;
    height: 578px;
    width: 990px;
    background-color: rgba(244,255,179,1);
    text-decoration: none;
}

footer {
    background-color: rgba(179,255,228,1);
    grid-row: 5/6;
    grid-column: 2/4;
    text-align: center;
    font-family: 'Anek Odia', sans-serif;
    height: 53px;
    width: 990px;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px,1fr) repeat(6, minmax(0,175px)) minmax(0px,1fr);
}

#coding_journey {
    background-color: rgba(255,179,179,1);
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: left;
    height: 366px;
    width: 350px;
}

#homecode {
    background-color: rgba(255,211,179,1);
    grid-row: 2/3;
    grid-column: 4/5;
    height: 366px;
    width: 640px;
}

#middle_bar {
    background-color: rgba(179,230,255,1);
    grid-row: 3/4;
    grid-column: 2/5;
    height: 128px;
    width: 990px;
}