* {
    box-sizing: border-box;
}

body {
    background-color: rgba(95,97,96,1);
    margin: auto;
}

nav {
    background-color: rgba(9,1,40,1);
    grid-area: 1/2/2/4;
    top:0;
    height: 75px;
    width: 990px;
    padding: 25px 50px 25px;
}

nav a {
    text-decoration: none;
    display: block;
    text-align: center;
}

nav ul {
    margin: 25 px 0px 25px;
    display:flex;
    list-style-type:none;
    font-family: 'Anonymous Pro', sans-serif;
}

nav ul li {
    width:15%;
}

main {
    padding-left:2rem;
    padding-right:2rem;
    grid-row: 4/5;
    grid-column: 2/4;
    height: 578px;
    width: 990px;
    background-color: rgba(207,207,207,1);
    text-decoration: none;
    font-family: 'Anonymous Pro', sans-serif;
}

main h2 {
    color: rgba(215,255,174,1);
    font-family: 'Roboto', sans-serif;
}

main img {
    
}

footer {
    background-color: rgba(51, 64, 76, 1);
    grid-row: 5/6;
    grid-column: 2/4;
    text-align: center;
    font-family: 'Anek Odia', sans-serif;
    height: 53px;
    width: 990px;
    padding-top: 20px;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px,1fr) repeat(6, minmax(0,175px)) minmax(0px,1fr);
}

#topbar {
    background-color: rgba(9,1,40,1);
    grid-area: 1/2/2/4;
    top:0;
    height: 75px;
    width: 990px;
}

#coding_journey {
    background-color: rgba(19,19,19,1);
    grid-row: 2/3;
    grid-column: 2/3;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 32;
    color: rgba(130,242,255,1);
    text-align: left;
    height: 366px;
    width: 350px;
}

#homecode {
    background-image:
        url("https://raw.githubusercontent.com/Zyobot101/se1400/refs/heads/main/milestone3/pexels-pixabay-276452.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2/3;
    grid-column: 4/5;
    height: 366px;
    width: 640px;
    line-height: 150%;
}

#middle_bar {
    background-color: rgba(51,64,76,1);
    grid-row: 3/4;
    grid-column: 2/5;
    height: 128px;
    width: 990px;
    font-family: 'Anek Odia', sans-serif;
    font-size: 26px;
    color: rgba(255,163,98,1);
    text-align: center;
    line-height: 150%;
}