body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: 'Arial', sans-serif;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
}

nav a {
    text-decoration: none;
    background-color: #F3F3F3;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: 'Georgia', sans-serif;
}

header h1 {
    background-position: right;
    background-repeat: no-repeat;
    background-image:
        url("utahtechlogo.svg");
    padding-left: 1rem;
    background-origin: content-box;
    margin-bottom: 0;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;

}

main h2 {
    color: #424242;
    font-family: 'Georgia', sans-serif;
}

main h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

#wrapper {
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

#homehero {
    background-image:
        url("https://zyobot101.github.io/se1400/utahtech3/homehero.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#studenthero {
    background-image:
        url("https://zyobot101.github.io/se1400/utahtech3/studenthero.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facultyhero {
    background-image:
        url("https://zyobot101.github.io/se1400/utahtech3/facultyhero.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}